$button-height: 24px;

.mj-header {
  height: 90px;
  left: 0;
  padding: 30px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;

  .mj-header-button-wrapper {
    cursor: pointer;
    height: $button-height;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 38px;
  }

  .mj-header-nav-button,
  .mj-header-nav-button:before,
  .mj-header-nav-button:after {
    background: $black-one;
    height: 3.5px;
    position: absolute;
    width: 100%;

    transition: all;
    transition-duration: 0.6s;
    transition-timing-function: ease-in-out;

  }

  .mj-header-nav-button {
    left: 0;
    top: 50%;
    transform: translateY(-50%);

    &:before,
    &:after {
      content: '';
      left: 0;
    }

    &:before {
      bottom: $button-height / 2;
    }

    &:after {
      top: $button-height / 2;
    }

    &:focus {
      border-color: inherit;
      box-shadow: none;
      outline: none;
    }
  }
}

.nav-open .mj-header {
  .mj-header-nav-button,
  .mj-header-nav-button:before,
  .mj-header-nav-button:after {
    background: $black-one;
    height: 2px;
    width: 22px;

    transition-duration: 0.4s;
  }

  .mj-header-nav-button {
    transform: rotate(45deg) translateY(-50%);

    &:before {
      opacity: 0;
    }

    &:after {
      transform: rotate(-90deg) translateX(11px);
    }
  }
}

@media (min-width: $breakpoint-two) {
  .mj-header {
    height: 100px;
    padding: 38px;
  }
}
