.mj-image {
  border: 4px solid $black-one;
  display: block;
  margin: 5px 0 $margin-three;
  width: 80%;

  @media (min-width: $breakpoint-two) {
    &.smaller {
      width: 80%;
    }

    width: 100%;
  }
}

figure {
  figcaption {
    margin-top: $margin-four; 
    font-weight: 600;
  }
}
