nav {
  background: $grey-two;
  height: 100%;
  left: 0;
  padding: 110px 60px; 
  position: fixed;
  top: 0;
  width: $navigation-width;

  & a {
    display: block;
    opacity: 0;

    transition: opacity .4s ease-in;
  }

  .nav-open & a {
    opacity: 1;

    transition: opacity .7s .3s ease-in;
  }
}
