#scroll-down {
  bottom: 130px;
  cursor: pointer;
  height: 40px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: 40px;

  .scroll-down-arrow {
    @include centre-content;

    animation: up-and-down-down 1.4s ease-in-out 1s infinite alternate;

    &:before,
    &:after {
      background: $black-one;
      content: '';
      height: 18px;
      left: -2px;
      position: absolute;
      top: -15px;
      width: 5px;
    }

    &:before {
      transform: rotate(55deg) translateX(10px);
    }

    &:after {
      transform: rotate(-55deg) translateX(-10px);
    }
  }

  &.hide {
    opacity: 0;
  }
}
