#scroll-down {
  animation: up-and-down-down 1.4s ease-in-out 1s infinite alternate;
  bottom: 130px;
  left: 50%;
  position: absolute;
  transform: translate(-50%, 0);

  transition: opacity 0.4s ease-in-out;

  &:before,
  &:after {
    content: '';
    background: $black-one;
    bottom: 0;
    height: 18px;
    position: absolute;
    width: 5px;
  }

  &:before {
    transform: rotate(55deg) translateX(10px);
  }

  &:after {
    transform: rotate(-55deg) translateX(-10px);
  }

  &.hide {
    opacity: 0;
  }
}
