.mj-section {
  background: $grey-one;
  height: 100vh;
  position: relative;
  width: 100vw;

  .mj-section-content {
    @include centre-content;

    max-width: 536px;
    width: 70%;

    &.centre {
      text-align: center;
    }
  }

  &.green {
    background: $green-one;
  }

  &.blue {
    background: $blue-one;
  }

  &.pink {
    background: $pink-one;
  }

  &.border {
    border-color: $black-one;
    border-style: solid;
    border-width: 10px;

    @media (min-width: $breakpoint-one) {
      border-width: 16px;
    }
  }
}
