.mj-section {
  background: $grey-one;
  height: 100vh;
  position: relative;
  width: 100vw;

  .mj-hero-content,
  .mj-section-content {
    @include centre-content;

    max-width: 536px;
    width: 72%;

    &.centre {
      text-align: center;
    }
  }

  .mj-section-content {
    &:after {
      border-bottom: 3px solid $black-one;
      bottom: -30px;
      content: '';
      left: 0px;
      position: absolute;
      width: 40px;
    }
  }

  &.green {
    background: $green-one;
  }

  &.blue {
    background: $blue-one;
  }

  &.pink {
    background: $pink-one;
  }

  &.border {
    border: 16px solid $black-one;
  }
}
