{% extends "base.njk" %} {% block content %}
<section class="mj-section green border">
  <div class="mj-section-content">
    <h1>maddie and jack are getting married</h1>
    <h2>in Highbury, Islington on 4<sup>th</sup> April 2020</h2>
  </div>
  <span class="mj-scroll-down"></span>
</section>
<section class="mj-section blue">
  <div class="mj-section-content">
    <h2 class="bold">When</h2>
    <p>
      We're getting married at Christ Church, Highbury on the 4<sup>th</sup> April 2020.
    </p>
    <p>
      This will be followed by a reception at
      <a href="https://www.claptoncountryclub.co.uk">
        Clapton Country Club.
      </a>
    </p>
  </div>
</section>
{% endblock %}
