{% extends "base.njk" %} {% block content %}
<section class="mj-section green border">
  <div class="mj-hero-content">
    <div class="animate-in">
      <h1>maddie and jack are getting married</h1>
      <h2>in Highbury, Islington on 4<sup>th</sup> April 2020</h2>
    </div>
  </div>
  <span class="mj-scroll-down"></span>
</section>
<section class="mj-section pink">
  <div class="mj-section-content">
    <div class="animate-in">
      <h2 class="bold">Welcome</h2>
      <p>
        We are so excited to share our wedding day with you all. We hope you find
        all the information you need on this website, but please do get in contact
        with us if you have any questions!
      </p>
      <a class="mj-button" href="/hotels">hotels</a>
    </div>
  </div>
</section>
<section class="mj-section blue">
  <div class="mj-section-content">
    <div class="animate-in">
      <h2 class="bold">The Day</h2>
      <h3>Ceremony</h3>
      <p>
        The ceremony will be held at
        <a
          class="mj-a"
          target="_blank"
          href="https://goo.gl/maps/Jda9voBLNYEDfD6Z6">
          Christ Church, Highbury</a>
        at 1pm.
      </p>
      <a class="mj-button pink" href="/">ceremony</a>
      <h3>Reception</h3>
      <p>
        Our reception will be held at
        <a
          class="mj-a"
          target="_blank"
          href="https://goo.gl/maps/e1HcqurFnLgrYZvUA">
          Clapton Country Club.</a>
      </p>
      <p>
        Evening guests, please feel free to arrive and join the party from 7.30pm
        onwards.
      </p>
      <p>
        Hometime: 1am.
      </p>
      <a class="mj-button pink" href="/">reception</a>
    </div>
  </div>
</section>
{% endblock %}
