<!DOCTYPE html>
<html lang="en"> 
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700|Playfair+Display:400,700&display=swap" rel="stylesheet">
    <link href="/main.css" rel="stylesheet" />
    <title>{{ pageTitle }}</title>
    <script>
      window.onpageshow = function(event) { 
        if (event.persisted) {
          window.location.reload(); 
        } 
      };
    </script>
  </head>
  <body>
    {% include "partials/navigation.njk" %} 
    {% include "partials/header.njk" %} 
    <div class="mj-main">
      {% block content %} {% endblock %}
      {% include "partials/footer.njk" %}
    </div>
    <script src="/bundle.js"></script>
  </body>
</html>
