<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,500,600|Playfair+Display:400,700,900&display=swap" rel="stylesheet">
    <link href="/main.css" rel="stylesheet" />
    <title>Example</title>
  </head>
  <body>
    {% include "partials/navigation.njk" %} 
    {% include "partials/header.njk" %} 
    {% block content %} {% endblock %}
    {% include "partials/footer.njk" %}
    <script src="/bundle.js"></script>
  </body>
</html>
