<footer id="footer" data-animation-offset="1">
  <div class="mj-footer-copy">
    <span>&copy; The Happy Couple</span>
    <a class="mj-footer-link light" href="{{ rsvpLink }}" target="_blank">
      RSVP
    </a>
  </div>
</footer>
