<nav>
  <a href="/">Home</a>
  <a href="/hotels">Hotels</a>
  <a href="#">Travel</a>
  <a href="#">Gifts</a>
  <a target="_blank" href="https://docs.google.com/forms/d/161Dwv87V7es4kfJW87RX0FC5uruhm0ucTW7EAjBGIOU">RSVP</a>
</nav>

