<nav class="mj-nav">
  <a class="mj-nav-link" href="/">
    Home
  </a>
  <a class="mj-nav-link" href="/hotels">
    Hotels
  </a>
  <a class="mj-nav-link" href="#">
    Travel
  </a>
  <a class="mj-nav-link" href="#">
    Gifts
  </a>
  <a
    class="mj-nav-link"
    target="_blank"
    href="https://docs.google.com/forms/d/161Dwv87V7es4kfJW87RX0FC5uruhm0ucTW7EAjBGIOU">
      RSVP
  </a>
</nav>
