<nav id="nav" class="mj-nav">
  {% for navItem in navigation %}
    <a 
      class="mj-nav-link" 
      href="{{ navItem.link }}"
      target={{ "_blank" if navItem.newPage else "_self" }}>
        {{ navItem.title }}
    </a>
  {% endfor %}
</nav>
