{% extends "base.njk" %} {% block content %}
<section class="mj-section pink border">
  <div class="mj-hero-content centre">
    <h1>The Reception</h1>
    <h2>Clapton Country Club</h2>
  </div>
  <span class="mj-scroll-down"></span>
</section>
<section class="mj-section blue">
  <div class="mj-section-content">
    <h2 class="bold">Where</h2>
    <p>
      The ceremony will be held at
      <a
        class="mj-a"
        target="_blank"
        href="https://goo.gl/maps/Jda9voBLNYEDfD6Z6"
      > Christ Church, Highbury</a> at 1pm.
    </p>
    <p>
      Please be seated by 12.45pm.
    </p>
    <p>
      Evening guests are very welcome to join us at the church for the ceremony.
    </p>
  </div>
</section>
<section class="mj-section green">
  <div class="mj-section-content">
    <h2 class="bold">Getting here</h2>
    <p>
      Unfortunately parking is for residents only.
      It will be very busy as Arsenal are playing at home on the day! We strongly advise you to use public transport. 
    </p>
    <p>
      Highbury and Islington station (Victoria Line, Overground and National Rail) is an 8 minute walk from the church.
    </p>
    <p>
      The church is also on bus routes 4 and 19 and is a short taxi ride away from Kings Cross St Pancras and Euston.
    </p>
    <a
      class="mj-button blue"
      target="_blank"
      href="https://goo.gl/maps/Jda9voBLNYEDfD6Z6">
      Google Maps
    </a>
  </div>
</section>
{% endblock %}
