{% extends "base.njk" %} {% block content %}
<section class="mj-section pink border">
  <div class="mj-hero-content centre">
    <div class="animate animate-hero">
      <h1>The Reception</h1>
      <h2>Clapton Country Club</h2>
    </div>
  </div>
  {% include "partials/scroll-down.njk" %}
</section>
<section class="mj-section blue longer">
  <div class="mj-section-content">
    <div class="animate animate-in">
      <h2 class="bold">Where</h2>
      <p>
        Our reception will be held at
        <a
          class="mj-a"
          target="_blank"
          href="https://goo.gl/maps/e1HcqurFnLgrYZvUA"
        >
          Clapton Country Club.
        </a>
      </p>
      <p>
        Transport will be provided for day guests from the church to the venue.
      </p>
      <p>
        Evening guests feel free to arrive and join the party from 7.30pm
        onwards.
      </p>
      <p>
        Hometime: 1am
      </p>
      <a
        class="mj-button"
        target="_blank"
        href="https://goo.gl/maps/e1HcqurFnLgrYZvUA"
      >
        Google Maps
      </a>
      <img
        alt="clapton country club"
        class="mj-image last"
        src="/img/clapton-country-club.jpg"
      />
    </div>
  </div>
</section>
<section class="mj-section green">
  <div class="mj-section-content">
    <div class="animate animate-in">
      <h2 class="bold">Getting home</h2>
      <p>
        Clapton Country Club is a 1 minute walk away from Clapton Overground
        Station. From here you can travel south to Liverpool St station or north
        to Walthamstow Central to connect to multiple tube lines. Please note
        however that the last train to Liverpool St is approximately 11.30pm.
      </p>
      <p>
        A taxi would be the easiest way home for most guests. We recommend that
        downloading Uber as this will be the easiest way to organise a taxi home
        on the night!
      </p>
      <a
        class="mj-button last"
        target="_blank"
        href="https://citymapper.com/london"
      >
        City Mapper
      </a>
    </div>
  </div>
</section>
{% endblock %}
