{% extends "base.njk" %} {% block content %}
<section class="mj-section pink border">
  <div class="mj-hero-content centre">
    <div class="animate animate-hero"> 
      <h1>The Reception</h1>
      <h2>Clapton Country Club</h2>
    </div>
  </div>
  <span id="scroll-down"></span>
</section>
<section class="mj-section blue longer">
  <div class="mj-section-content">
    <div class="animate animate-in">
      <h2 class="bold">Where</h2>
      <p>
        Our reception will be held at 
        <a class="mj-a" target="_blank" href="https://goo.gl/maps/Jda9voBLNYEDfD6Z6">Clapton Country Club.</a> 
      </p>
      <p>
        Transport will be provided for day guests from the church to the venue. 
      </p>
      <p>
        Evening guests feel free to arrive and join the party from 7.30pm onwards.
      </p>
      <p>
        Hometime: 1am 
      </p>
      <a
        alt="clapton country club"
        class="mj-button pink"
        target="_blank"
        href="https://goo.gl/maps/Jda9voBLNYEDfD6Z6">
        Google Maps
      </a>
      <img class="mj-image" src="/img/clapton-country-club.jpg" />
    </div>
  </div>
</section>
<section class="mj-section green">
  <div class="mj-section-content">
    <div class="animate animate-in">
      <h2 class="bold">Getting home</h2>
      <p>
        Clapton Country Club is a 1 minute walk away from Clapton Overground Station. From here you can travel south to Liverpool St station or north to Walthamstow Central to connect to multiple tube lines. Please note however that the last train to Liverpool St is approximately 11.30pm.
      </p>
      <p>
        A taxi would be the easiest way home for most guests. We recommend that downloading Uber as this will be the easiest way to organise a taxi home on the night! 
      </p>
    </div>
  </div>
</section>
{% endblock %}
