{% extends "base.njk" %} {% block content %}
<section class="mj-section pink border">
  <div class="mj-hero-content centre">
    <div class="animate animate-hero">
      <h1>Gifts</h1>
    </div>
  </div>
  {% include "partials/scroll-down.njk" %}
</section>
<section class="mj-section blue">
  <div class="mj-section-content">
    <div class="animate animate-in">
      <h2 class="bold">Gifts</h2>
      <p>
        Thank you if you had already purchased us a gift. As we're not actually
        married (yet) we don't feel receiving these would be appropriate! The
        gift list is frozen and John Lewis will refund you through a short,
        convenient phone call.
      </p>
      <p>
        We're sorry for the inconvenience and please let us know if you
        experience any problems.
      </p>
      <p>
        Please quote the gift list number (<em>{{ giftList.number }}</em>) when
        you call.
      </p>
      <a class="mj-button" href="tel:{{ giftList.phoneNumber }}">
        Call John Lewis
      </a>
    </div>
  </div>
</section>
{% endblock %}
