{% extends "base.njk" %} {% block content %}
<section class="mj-section pink border">
  <div class="mj-hero-content centre">
    <div class="animate animate-hero">
      <h1>Hotels</h1>
      <h2>Where to stay</h2>
    </div>
  </div>
  {% include "partials/scroll-down.njk" %}
</section>
<section class="mj-section blue longer">
  <div class="mj-section-content">
    <div class="animate animate-in">
      <h2 class="bold">Hotels</h2>
      <p>
        Below is a list of some local hotels that might be useful. Both the
        church and reception are well connected so please feel free to book the
        Savoy if it takes your fancy.
      </p>
      <p>
        We're staying in the Finsbury Park Travelodge. We hope to see a couple
        of you downstairs the morning after for the all-you-can-eat cooked
        breakfast.
      </p>
    </div>
  </div>
</section>
<section class="mj-section green longer">
  <div class="mj-section-content">
    <div class="animate animate-in">
      <h2 class="bold">Local(ish) Hotels</h2>
      {% for hotel in hotels %}
      <h3>{{hotel.title}}</h3>
      <ul>
        {% for location in hotel.locations %}
        <li>
          <a class="mj-a" target="_blank" href="{{ location.link }}">
            {{ location.title }}
          </a>
        </li>
        {% endfor %}
      </ul>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock %}
