{% extends "base.njk" %} {% block content %}
<section class="mj-section pink border">
  <div class="mj-section-content centre ">
    <h1 class="animate-in">Where to stay</h1>
  </div>
  <span class="mj-scroll-down"></span>
</section>
<section class="mj-section blue">
  <div class="mj-section-content">
    <h2>Hotels</h2>
    <ul>
      <li>
        <a 
          target="_blank" 
          href="https://goo.gl/maps/vBC88ugWm1A17we78">
            Premier Inn Hackney
        </a>
      </li>
      <li>
        <a 
          target="_blank" 
          href="https://goo.gl/maps/ouKZA5HkQe4Wb2TM6">
            Premier Inn Angel
        </a>
      </li>
      <li>
        <a 
          target="_blank" 
          href="https://goo.gl/maps/CPr1ZX3wDERrpW6d9">
            Premier Inn Stratford
        </a>
      </li>
      <li>
        <a 
          target="_blank" 
          href="https://goo.gl/maps/2XKhsKEUu3NKP7S99">
            Premier Inn London City
        </a>
      </li>
      <li>
        <a 
          target="_blank" 
          href="https://goo.gl/maps/319NKd38rxFS48Eh9">
            Travelodge Hackney
        </a>
      </li>
      <li>
        <a 
          target="_blank" 
          href="https://goo.gl/maps/UguAn4MjLV5zp7WY7">
            Travelodge Finsbury Park
        </a>
      </li>
      <li>
        <a 
          target="_blank" 
          href="https://goo.gl/maps/B1My6CZ6kenkCDoZ6">
          Travelodge Central City Road
        </a>
      </li>
      <li>
        <a 
          target="_blank" 
          href="https://goo.gl/maps/dsLuKDnvqzNjaA5R8">
            Travelodge Liverpool Street
        </a>
      </li>
      <li>
        <a 
          target="_blank" 
          href="https://goo.gl/maps/KQqL8Ur3Q6NMxQMF9">
            Travelodge London City
        </a>
      </li>
      <li>
        <a 
          target="_blank" 
          href="https://g.page/HiltonLondonAngelIslington?share">
            Hilton Angel
        </a>
      </li>
      <li>
        <a 
          target="_blank" 
          href="https://g.page/DoubleTreeLondonIslington?share">
            Hilton Double Tree Islington
        </a>
      </li>
      <li>
        <a 
          target="_blank" 
          href="https://goo.gl/maps/atT6jJmi9Deu4GPY8">
            Holiday Inn Express City
        </a>
      </li>
      <li>
        <a 
          target="_blank" 
          href="https://goo.gl/maps/gKmWTbnewrGJVgzA7">
            Holiday Inn Express Stratford
        </a>
      </li>
      <li>
        <a 
          target="_blank" 
          href="https://goo.gl/maps/gNda8S34XGsyZAzJ9">
            Holiday Inn Stratford
        </a>
      </li>
      <li>
        <a 
          target="_blank" 
          href="https://goo.gl/maps/FEDkGkQB5hR3qpUFA">
            Holiday Inn Whitechapel
        </a>
      </li>
      <li>
        <a 
          target="_blank" 
          href="https://goo.gl/maps/Du6DuVKrrFnVJeJD7">
            The Savoy
        </a>
      </li>
    </ul>
  </div>
</section>
{% endblock %}
