@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes up-and-down-down {
  0%,
  40% {
    transform: translate(-50%, 0);
  }
  100% {
    transform: translate(-50%, -15px);
  }
}

