@mixin font-size($font-size) {
  font-size: $font-size;
  font-size: ($font-size/$base-font-size) * 1rem;
}

h1,
h2,
h3 {
  color: $black-one;
  font-family: $heading-font-family;
  font-weight: 400;
  letter-spacing: 0.01rem;
  position: relative;
  text-transform: capitalize;

  &.no-capitalize {
    text-transform: none;
  }

  &.white {
    color: $white-one;
  }

  &.bold {
    font-weight: 700;
  }
}

h1 {
  @include font-size(36px);

  line-height: 1.1;
  margin-bottom: $margin-four;
  font-weight: 700;

  @media (min-width: $breakpoint-two) {
    @include font-size(58px);
    margin-bottom: $margin-four;
  }
}

h2 {
  @include font-size(28px);

  line-height: 1.2;
  margin-bottom: $margin-two;

  @media (min-width: $breakpoint-two) {
    @include font-size(36px);
  }
}

h3 {
  @include font-size(22px);

  font-weight: 700;
  margin-bottom: $margin-two;

  @media (min-width: $breakpoint-two) {
    @include font-size(26px);
  }
}

p,
.mj-p {
  @include font-size(18px);

  color: $black-one;
  letter-spacing: 0.7px;
  line-height: 1.6;
  margin-bottom: $margin-four;
}

a {
  text-decoration: none;

  &:link,
  &:visited,
  &:hover,
  &:active {
    color: $black-one;
  }
}

a.light {
  color: $grey-one;

  &:link,
  &:visited,
  &:hover,
  &:active {
    color: $grey-one;
  }
}

.mj-a {
  position: relative;

  &:after {
    background: $black-one;
    bottom: -1.2px;
    content: '';
    height: 1.5px;
    left: 0;
    position: absolute;
    transition: transform 0.2s ease-in-out;
    width: 100%;
  }

  &:hover {
    &:after {
      transform: translateY(2px);
    }
  }
}

ul {
  list-style: disc inside;
  margin-bottom: $margin-two;
}

li {
  line-height: 1.6;

  a {
    @include font-size(18px);
  }
}

@media (min-width: $breakpoint-one) {
  li {
    line-height: 1.8;
  }

  li a,
  p,
  .mj-p {
    @include font-size(18px);
  }
}
