$heading-font-family: 'Playfair Display', serif;
$body-font-family: 'Open Sans', sans-serif;

$base-font-size: 12px;

$margin-one: 21px;
$margin-two: 15px;
$margin-three: 12px;
$margin-four: 9px;

$green-one: #afc7b5;
$white-one: #FFFFFF;

$black-one: #2d2d2d;
$black-two: #000000;

$grey-one: #c7c7c7;

