$heading-font-family: 'Playfair Display', serif;
$body-font-family: 'Open Sans', sans-serif;

$base-font-size: 12px;

$margin-one: 21px;
$margin-two: 15px;
$margin-three: 12px;
$margin-four: 9px;

$white-one: #FFFFFF;
$green-one: #AFC7B5;
$white-one: #FFFFFF;
$black-one: #2D2D2D;
$black-two: #000000;
$grey-one: #C7C7C7;

$navigation-width: 260px;

$breakpoint-one: 768px;
