$heading-font-family: 'Playfair Display', serif;
$body-font-family: 'Lato', sans-serif;

$base-font-size: 12px;

$margin-one: 27px;
$margin-two: 21px;
$margin-three: 15px;

$navigation-width: 260px;

$breakpoint-one: 768px;

$white-one: #FFFFFF;

$green-one: #AFC7B5;

$black-one: #2D2D2D;
$black-two: #000000;

$grey-one: #C7C7C7;
$grey-two: #737373;

$pink-one: #c19ca9;

$blue-one: #75849c;

