@import 'reset.css/reset';
@import 'variables';
@import 'typography';
@import 'mixins';
@import 'animations';

@import 'components/footer';
@import 'components/header';
@import 'components/navigation';
@import 'components/scroll-down';
@import 'components/section';
@import 'components/buttons';

html.nav-open {
  overflow: hidden;
}

html {
  font-size: 75%;
}

body {
  background: $black-one;
  color: $black-one;
  font-family: $body-font-family;
  font-size: 1rem;
}

div,
section,
nav {
  box-sizing: border-box;
}

button {
  border: 0px;
  padding: 0px;
}

.mj-main {
  transition: transform 0.7s ease-in-out;

  .nav-open & {
    transform: translateX($navigation-width);
  }
}
