@import 'reset.css/reset';
@import 'variables';
@import 'typography';

@import 'components/section';
@import 'components/footer';

html {
    font-size: 75%;
}

body {
  background: $white-one;
  font-family: $body-font-family;
  font-size: 1rem;
}

div, section {
  box-sizing: border-box;
}

